// colors
$blue-main: #0b30e1;
$primary-light: #333333;
$not-selected: #b6b6b6;
$black: #131313;
$white: #ffffff;
$icon-circle: #f3f3f3;
$red: #cf0101;
$center-border: #e5e5e5;
$grey-dark: #717171;
$twinkle: #eaedff;
$grey-blue: #9ca2ba;
$green-dark: #00883a;
$blue-dark: #001a96;
$orange: #f36c22;

// widths
$desktop-width: 1024px;
