@import "styles/baseColors";

.cover {
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1140px;
  margin-bottom: 15px;
  background-color: $blue-main;
  height: 155px;
}

.container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.sidePannel {
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
